@import "tailwindcss";


:root {
    /* App Colors */
    --color-primary: #F2AEEE;     /* soft pink */
    --color-secondary: #5941F2;   /* violet */
    --color-accent: #F2B035;      /* golden yellow */
    --color-alert: #F24535;       /* red-orange */
    --color-surface: #F2F2F2;     /* light background */

    /* Text & Background */
    --background: #ffffff;
    --foreground: #171717;

    /* Fonts */
    --font-sora: 'Sora', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    
        /* Optional dark variants */
        --color-surface: #1a1a1a;
      }
}

body {
    background: var(--background);
    font-family: var(--font-dm-sans);
}

@layer utilities {
  /* text colors */
  .text-foreground {
    color: var(--foreground);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .text-alert {
    color: var(--color-alert);
  }

  /* background colors */
  .bg-alert {
    background-color: var(--color-alert);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }
  .bg-surface {
    background-color: var(--color-surface);
  }
}