@import "tailwindcss/preflight";
@tailwind utilities;

:root {
    /* App Colors */
    --color-primary: #F2AEEE;     /* soft pink */
    --color-secondary: #5941F2;   /* violet */
    --color-accent: #F2B035;      /* golden yellow */
    --color-alert: #F24535;       /* red-orange */
    --color-surface: #F2F2F2;     /* light background */

    /* Text & Background */
    --background: #ffffff;
    --foreground: #171717;

    /* Fonts (from next/font/google) */
    --font-sora: 'Sora', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    
        /* Optional dark variants */
        --color-surface: #1a1a1a;
      }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-dm-sans);
}